<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark info-color">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="home">PLAY NODE</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="sudoku">Sudoku</a>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->