<div class="row p-2">
    <div class="col">
        <div class="h2">Sudoku</div>
        <div class="small">Select empty box, key-in/click/drag your numbers.</div>
    </div>
</div>
<div class="row p-2" [style.width.px]="sudokuInstance.size">
    <div class="col">
        <div class="btn-group" mdbDropdown>
            <button mdbDropdownToggle mdbBtn color="info" size="sm" class="dropdown-toggle waves-light" type="button"
                mdbWavesEffect>
                <mdb-icon fas icon="cog"></mdb-icon>
            </button>

            <div class="dropdown-menu dropdown-primary dropdown-menu-right">
                <a class="dropdown-item" (click)="genNewQuestion()">New Game</a>
                <a class="dropdown-item" (click)="resetQuestion()">Reset</a>
                <a class="dropdown-item" (click)="showAnswer()">Show Answer</a>
                <a class="dropdown-item" (click)="hintNextStep()">Hint Next Step</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="sketch-container">
            <div id="sketch-holder" (window:resize)="onResize()"></div>
        </div>
    </div>
</div>